* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	background-image: url('https://images.unsplash.com/photo-1517976487492-5750f3195933?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100vw 100vh; */
	background-color: white;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
	width: 90%;
	margin: auto;
	padding: 2rem;
}

.header {
	text-align: center;
	padding-top: 2rem;
	/* color: white; */
}

#toggle {
	display: flex;
	justify-content: center;
}

#limit-text {
	padding: 1rem;
}

.data-container {
	background-color: #ededed;
	padding: 10px;
	border-radius: 5px;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
